GITHUB_ACCESS_TOKEN=<YOUR_TOKEN_HERE>
TEST_DATA_DIRECTORY_NAME=testdata
GITHUB_USERNAME=pfeilbr
REPO_NAME_INCLUDE_FILTERS=.*-playground
RANDOM_SUMMARY_PREFIX_LIST=learn,learning,experimenting with
AUTO_TAGS_IF_IN_REPO_NAME=aws,serverless,lambda,angular,apex,apollo,cloudformation,cloudfront,cognito,amplify,azure,nodejs,js,php,chrome,cmake,docker,flask,gitlab,go,heroku,v8,vuejs,wordpress,typescript,react,bash,python,opencv,osx,rust,webassembly,spark,jenkins,neo4j,cpp,mocha,minecraft,java,lua,make,mac,jupyter,json,salesforce,jest,ios,html,graphql,google,go,glitch,gatsbyjs,drawio,boto,kubernetes,sdk,kinesis,iam,glue,fargate,emr,eventbridge,iot,kms,polly,sam,xray,ecr,ecs,codebuild,codepipeline,cdk,autotools,postgres,cli
STATIC_TAGS=playground
WORDS_TO_CORRECT_CASING_LIST=CloudFront,CloudFormation,OpenCV,AWS,CLI,PHP,HTTP,SDK,CDK,API,HLS,SAM,YouTube,SDL2,GoReleaser,TailwindCSS,GLib,XRay,URL,AKS,JS,ARM,WebSocket,GatsbyJS,fswatch,UI,WebSockets,CodePipeline,JFrog,ECR,CPP,CMake,VueJS,WebAssembly,JSON,GitHub,GraphQL,IoT,IAM,ECS,and,KMS,webpack,NextJS,KeystoneJS,GitBook,TypeScript,OData,OSX,WebdriverIO,HTML,ES6,NWjs,iOS,JSForce